@tailwind base;
@tailwind components;
@tailwind utilities;
.my-padding{
    padding: 20px 0px 20px 0px;
}
.search-form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: #39d3f5cc;
    width: 300px;
    height: 44px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 10px;
  }
  .search-input {
    all: unset;
    font: 16px system-ui;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
  }
  ::placeholder {
    color: #fff;
    opacity: 0.7;
  }
  
  @font-face {
    font-family: Vazir;
    src: url('assets/fonts/Vazir.ttf') format('truetype');
  }
  body, html {
    background-color: #021526;
    height: 100%;
    font-family: Vazir;
  }

  .parallax {
    /* The image used */
    background-image: url("https://www.w3schools.com/howto/img_parallax.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  th {
    color: wheat!important;
    background-color: #2a5383!important;
  }

  td {
    background-color: wheat!important;
    color: #2a5383!important;
  }

  #root{
    background-color: #021526;
  }
  h1{
    color: wheat;
  }

  .mahdyiarbtn{
    background-color: #2a5383;;
    color: wheat;
  }
  h2{
    color:wheat;
  }
  #form {
    color: #2a5383;
    background-color: wheat;
    padding-right: 0; 
    border-bottom-right-radius: 60px 60px;
    border-top-right-radius: 60px 60px;
    border-top-left-radius: 60px 60px;
    border-top-left-radius: 60px 60px;
    margin-bottom: 30px;
  }
  #query{
    color: #2a5383;
    /* margin-bottom: 10px; */

  }

  #searchbtn{
    background-color: #2a5383;;
    color: wheat;
    height: 100% ;
    width: 50%;
    border-radius: 3px;
    border-top-right-radius: 80px 80px;
    border-bottom-right-radius: 80px 80px;

    border-left: 0cm;
    border-color: #021526;
  }

